src/conf/xml-resources/web-service-references/ServiciosFukusuke/wsdl/localhost_8080/ServicioFukusukeJava/ServiciosFukusuke.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="ServiciosFukusuke">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/ServicioFukusukeJava/ServiciosFukusuke?xsd=1"/>
</xsd:schema>
</types>
<message name="getDatosCliente">
<part name="parameters" element="tns:getDatosCliente"/>
</message>
<message name="getDatosClienteResponse">
<part name="parameters" element="tns:getDatosClienteResponse"/>
</message>
<message name="setPedido">
<part name="parameters" element="tns:setPedido"/>
</message>
<message name="setPedidoResponse">
<part name="parameters" element="tns:setPedidoResponse"/>
</message>
<message name="getDatosPedido">
<part name="parameters" element="tns:getDatosPedido"/>
</message>
<message name="getDatosPedidoResponse">
<part name="parameters" element="tns:getDatosPedidoResponse"/>
</message>
<message name="getListaMenu">
<part name="parameters" element="tns:getListaMenu"/>
</message>
<message name="getListaMenuResponse">
<part name="parameters" element="tns:getListaMenuResponse"/>
</message>
<message name="setEstadoPedido">
<part name="parameters" element="tns:setEstadoPedido"/>
</message>
<message name="setEstadoPedidoResponse">
<part name="parameters" element="tns:setEstadoPedidoResponse"/>
</message>
<message name="getEstadoPedido">
<part name="parameters" element="tns:getEstadoPedido"/>
</message>
<message name="getEstadoPedidoResponse">
<part name="parameters" element="tns:getEstadoPedidoResponse"/>
</message>
<message name="getIdMenu">
<part name="parameters" element="tns:getIdMenu"/>
</message>
<message name="getIdMenuResponse">
<part name="parameters" element="tns:getIdMenuResponse"/>
</message>
<portType name="ServiciosFukusuke">
<operation name="getDatosCliente">
<input wsam:Action="http://Service/ServiciosFukusuke/getDatosClienteRequest" message="tns:getDatosCliente"/>
<output wsam:Action="http://Service/ServiciosFukusuke/getDatosClienteResponse" message="tns:getDatosClienteResponse"/>
</operation>
<operation name="setPedido">
<input wsam:Action="http://Service/ServiciosFukusuke/setPedidoRequest" message="tns:setPedido"/>
<output wsam:Action="http://Service/ServiciosFukusuke/setPedidoResponse" message="tns:setPedidoResponse"/>
</operation>
<operation name="getDatosPedido">
<input wsam:Action="http://Service/ServiciosFukusuke/getDatosPedidoRequest" message="tns:getDatosPedido"/>
<output wsam:Action="http://Service/ServiciosFukusuke/getDatosPedidoResponse" message="tns:getDatosPedidoResponse"/>
</operation>
<operation name="getListaMenu">
<input wsam:Action="http://Service/ServiciosFukusuke/getListaMenuRequest" message="tns:getListaMenu"/>
<output wsam:Action="http://Service/ServiciosFukusuke/getListaMenuResponse" message="tns:getListaMenuResponse"/>
</operation>
<operation name="setEstadoPedido">
<input wsam:Action="http://Service/ServiciosFukusuke/setEstadoPedidoRequest" message="tns:setEstadoPedido"/>
<output wsam:Action="http://Service/ServiciosFukusuke/setEstadoPedidoResponse" message="tns:setEstadoPedidoResponse"/>
</operation>
<operation name="getEstadoPedido">
<input wsam:Action="http://Service/ServiciosFukusuke/getEstadoPedidoRequest" message="tns:getEstadoPedido"/>
<output wsam:Action="http://Service/ServiciosFukusuke/getEstadoPedidoResponse" message="tns:getEstadoPedidoResponse"/>
</operation>
<operation name="getIdMenu">
<input wsam:Action="http://Service/ServiciosFukusuke/getIdMenuRequest" message="tns:getIdMenu"/>
<output wsam:Action="http://Service/ServiciosFukusuke/getIdMenuResponse" message="tns:getIdMenuResponse"/>
</operation>
</portType>
<binding name="ServiciosFukusukePortBinding" type="tns:ServiciosFukusuke">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDatosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListaMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEstadoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEstadoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosFukusuke">
<port name="ServiciosFukusukePort" binding="tns:ServiciosFukusukePortBinding">
<soap:address location="http://localhost:8080/ServicioFukusukeJava/ServiciosFukusuke"/>
</port>
</service>
</definitions>